body {
    font-family: 'Raleway', sans-serif;
    background: #FCFCFC;
}
.d-none{
    display: none;
}
.btn-reg{
    border: 2px #2699FB solid !important;
    border-radius: 5px !important;
    color: #2699FB !important;
    min-width: 240px !important;
    box-shadow: none !important;
    background: #ffffff !important;
}
.btn-reg:hover{
    color: #ffffff !important;
    background: #2699FB !important;
}
h1{
    font-size: 28px;
}

h2{
    font-size: 27px;
}
h3{
    font-size: 20px;
}

.flex-grow{
    flex-grow: 1;
}

.sc-rounded-div{
    width: 100%;
    max-width: 880px;
    min-height: 583px;
    margin: 0 auto;
    border-radius: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.text-bold{
    font-weight: bold;
}
.text-primary{
    color: #2699FB;
}
.text-underline{
    text-decoration: underline;
}
.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.button-right{
    text-align: right;
}

ul.parent-list > li {
    list-style-type: none;
    font-weight: 700;
    margin-bottom: 15px;
    margin-left: 30px;
}

::-webkit-scrollbar {
    width: 8px;   /* width of the entire scrollbar */
  }
::-webkit-scrollbar-track {
    background: transparent;  /* color of the tracking area */
  }
::-webkit-scrollbar-thumb {
    background-color: #1492e68f;    /* color of the scroll thumb */
    border-radius: 20px;    /* roundness of the scroll thumb */
    border: 1px solid #e0e0e0;  /* creates padding around scroll thumb */
  }

.building-application ul.parent-list > li > ul {
    padding-left: 50px !important;
}

ul.main-list{
    padding-left: 15px!important;
}

ul.main-list > li {
    margin-bottom: 15px !important;
    font-weight: bold !important;
    color: #00549bb0 !important;
    line-height: 1.6;
}

ul.sub-list {
    margin-left: 16px!important;
    margin-top: 5px!important;
}

ul.sub-list > li {
    font-weight: normal!important;
    color: #2b2b2b!important;
}

ul.pagination{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 30px 0;
}

ul.pagination li{
    display: inline!important;
    color: #e23a36;
    padding: 0 15px;
    font-size: 15px;
    font-family: Proxima Nova Rg;
    text-transform: uppercase;
    font-weight: bold;
}

ul.pagination li:hover,
ul.pagination li:focus,
ul.pagination li.active,
ul.pagination li a:focus{
    color: #2b2b2b;
    outline: none;
    border: 0;
}

.requirement-list {
    width: 100%;
}

.input-holder.appointment-date-picker input {
    width: 100%;
    padding: 0 15px;
    font-family: Raleway;
    font-size: 12px;
    background: #fadddd30;
    border: 1px solid #e56a67;
    border-radius: 5px;
    min-height: 37px!important;
}

@media only screen and( max-width: 1400px ){
    .sc-rounded-div{
        max-width: 830px;
        min-height: auto;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 24px;
    }
} 